.visitor-battlefield, .home-battlefield {
  clear: both;
}

ul.hand, ul.table {
  overflow: hidden;
}

.full-deck, ul.hand li, ul.table li {
  float: left;
  margin: 10px;
  width: 140px;
  height: 180px;
  background-color: #ddd;
  list-style-type: none;
  line-height: 180px;
  text-align: center;
  overflow: hidden;
}

.visitor-battlefield ul.hand li {
  background-color: red;
}
.home-battlefield ul.hand li {
  background-color: blue;
}

.visitor-battlefield ul.table li {
  background-color: purple;
}
.home-battlefield ul.table li {
  background-color: green;
}

.tap {
  -webkit-transform: rotate(0.25turn);
  margin-left: 20px;
}
