.visitor-battlefield, .home-battlefield {
  clear: both;
}

.table ul, .hand {
  overflow: hidden;
}

.full-deck, .hand li, .table li {
  float: left;
  margin: 10px;
  width: 140px;
  height: 180px;
  background-color: #ddd;
  list-style-type: none;
  line-height: 180px;
  text-align: center;
  overflow: hidden;
}

.hand li {
  background-color: blue;
}

.table-land li {
  background-color: purple;
}

.table-creature li {
  background-color: red;
}

.table-enchantment li {
  background-color: green;
}

.tap {
  -webkit-transform: rotate(0.25turn);
  margin-left: 20px;
}
