.player {
  clear: both;
  overflow: hidden;
}

.table ul, .hand, .graveyard {
  overflow: hidden;
  margin: 0;
}

.library, li.card {
  float: left;
  display: block;
  margin: 10px;
  width: 140px;
  height: 180px;
  background-color: #ddd;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}

li.card div {
  margin-top: 70px;
}

.graveyard {
  position: relative;
  float: right;
  width: 140px;
  height: 180px;
  margin: 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.graveyard li {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
}

.hand li {
  background-color: blue;
}

.table-land li {
  background-color: purple;
}

.table-creature li {
  background-color: red;
}

.table-enchantment li {
  background-color: green;
}

.tap {
  -webkit-transform: rotate(0.25turn);
  margin-left: 20px;
}
